@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.login-button {
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(41, 44, 59);
}

.ant-descriptions-item-label {
  color: white !important;
}


.team-page {
  display: flex;
  flex-direction: row;      /* Stack the containers vertically */
  justify-content: space-between; /* Align items at the top of the container */
  align-items: center;         /* Horizontally center the items */
  gap: 0px;                   /* Space between the containers */
  height: 100vh;               /* Full viewport height */
  background: 'transparent'; /* Background color */
}

.container {
  display: flex;
  justify-content: center;     /* Centers content inside the containers */
  align-items: center;         /* Centers content inside the containers */
  border: 0px solid #FFFFFF;      /* Border for visibility */
  width: 100%;                  /* All containers will have the same width */
}

.large { 
  height: 100%;               /* Larger containers will have a fixed height */
  background-color: #FFFFFF; /* Example background color */
  flex-grow: 3;                /* Make large containers grow and take more space */
  
}

.thin {
  height: 100%;                /* Thin containers have a small height */
  background-color: #FFFFFF;/* Example background color */
  flex-grow: 0;                /* Prevent thin containers from growing */
  width: 100px;
}
@keyframes splashFromBottomLeft {
  0% {
    transform: translate(-100%, 100%) scale(0.2);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

/* Splash moving from bottom-left */
@keyframes scrollSplashBottomLeft {
  0% {
    transform: translate(-10%, 90%) scale(0.8); /* Start at the bottom-left */
  }
  100% {
    transform: translate(100px, -90px) scale(1.2); /* Move to the center */
  }
}

/* Splash moving from top-right */
@keyframes scrollSplashTopRight {
  0% {
    transform: translate(110%, -90%) scale(0.8); /* Start at the top-right */
  }
  100% {
    transform: translate(50px, -50px) scale(1.2); /* Move to the center */
  }
}

/* Class for bottom-left splash */
.animated-splash-bottom-left {
  animation: scrollSplashBottomLeft 2s ease-out forwards; /* Smooth movement */
}

/* Class for top-right splash */
.animated-splash-top-right {
  animation: scrollSplashTopRight 2s ease-out forwards; /* Smooth movement */
}